body {
    background-color:#e2ac7f;
    font-family:;
    font-size:12px;
}
ul  {
    list-style-position:inside;
    text-align:center; 
    list-style-type:none; 
    font-style:italic;
  
}
main {
 background-color:#f5f5dc;
 width:568px;
 margin-left:auto;
 margin-right:auto;
}

li::first-letter{
     font-size:135%;
}
.copyright {    
    font-size:10px;
    text-align:center;
}
h1 {
    border-bottom: 5px dotted;
    font-family:Impact,fantasy;
    text-align:center;
    font-size:32px;
}
#wrap {
    padding: 0 10px;
    margin: 0 25%;
    border: 5px dotted;
    background-color:#f5f5dc;
}

