body {
    background-color:#5B7FBD;
    color:#222222;
    font-family:Verdana,sans-serif;
    font-size:14px;
    padding: 0 20px;
}
ul li {
    list-style-position:inside;
    text-align:center;    
}
.copyright {
    font-style:italic;
    font-size:70%;
}
a {
    color:#6c5cae;
}
