body {
    background-color:lightblue;
    font-family:sans-serif;
    font-size:medium;
}
ul  {
    list-style-position:inside;
    text-align:center; 
    list-style-type:none; 
  
}
.pickerspace {
    float:left;
    width:200px;
    margin:10px;
}
.sonnetspace1 {
    float:right;
    width:300px;
    margin:10px;
}

.sonnetspace2 {
    float:right;
    width:300px;
    margin:10px;
}

.copyright {    
    font-size:smaller;
}

